body {
  background-color: #fafafa;
}

#app .bg-info {
  background-color: #fff !important;
}
#app .logo {
  height: 28px;
}
#app .navbar-dark .navbar-nav .nav-link {
  color: rgba(0,0,0, .65);
}
#app .navbar-dark .navbar-nav .nav-link:hover{
  color: rgba(0,0,0, .85);
}
#app .main {
  min-height: 640px;
  padding-top: 40px;
}
#app .btn-outline-primary {
  color: #ff6060;
  border-color: #ff6060;
  border-width: 2px;
  padding: 8px 20px;
}
#app .btn-outline-primary:hover {
  background-color: #ff6060;
  color: #fff;
}
#app .btn-outline-primary:hover svg {
  fill: #fff;
}
#app .footer {
  padding-top: 20px;
  padding-bottom: 60px;
  background: #171920;
  color: rgba(255,255,255, .25);
  font-size: 14px;
}
#app .footer .title{
  color: rgba(255,255,255, .25);
  font-weight: bold;
}
#app .footer a {
  color: rgba(255,255,255, .85);
}
#app .footer a:hover{
  color: rgba(255,255,255, 1);
}